In [47]:
import io
from pathlib import Path
import pandas as pd
import glob
import pickle
import pycountry
import time

In [48]:
country_codes = pd.read_csv("id_date_country.csv")
sections = pd.read_pickle("sections.pkl")
loan_amounts = pd.read_pickle("world_bank_amounts.pickle")

In [49]:
sections = pd.read_pickle("sections.pkl")

In [50]:
country_codes.columns

Index(['id', 'date', 'country_code', 'country_name', 'filename'], dtype='object')

In [51]:
country_codes.id

0       658601468273303198
1       784351468234894668
2       891941468049466312
3       125511468051878371
4       733341468033245855
               ...
3190    876531576597901004
3191    430041576700944955
3192    915561578948029352
3193    701581579789087668
3194    931611577726651104
Name: id, Length: 3195, dtype: int64

In [52]:
sections.columns

Index(['year', 'month', 'day', 'id', 'name', 'file_content', 'named_countries',
       'sections', 'TITLE', 'ARTICLE II', 'Project Name', 'project_desc',
       'closing_month', 'closing_day', 'closing_year', 'loan_length in year'],
      dtype='object')

In [53]:
sections.id = sections.id.astype(int)

In [54]:
loan_amounts.columns

Index(['year', 'month', 'day', 'id', 'name', 'ARTICLE II', 'Amount_G',
       'Amount_G_num'],
      dtype='object')

In [55]:
loan_amounts.id = loan_amounts.id.astype(int)

In [56]:
big_table = country_codes.merge(loan_amounts, left_on='id', right_on='id')

In [57]:
big_table = big_table.merge(sections, left_on='id', right_on='id')

In [58]:
big_table.columns

Index(['id', 'date', 'country_code', 'country_name', 'filename', 'year_x',
       'month_x', 'day_x', 'name_x', 'ARTICLE II_x', 'Amount_G',
       'Amount_G_num', 'year_y', 'month_y', 'day_y', 'name_y', 'file_content',
       'named_countries', 'sections', 'TITLE', 'ARTICLE II_y', 'Project Name',
       'project_desc', 'closing_month', 'closing_day', 'closing_year',
       'loan_length in year'],
      dtype='object')

In [59]:
currency_amounts = pd.read_pickle("currency_amounts_country.pickle")

In [60]:
currency_amounts.id = currency_amounts.id.astype(int)

In [61]:
big_table = big_table.merge(currency_amounts[['id','amount_standard','currency_standard']],left_on='id', right_on='id')

In [62]:
columns_list = ['id', 'date', 'country_code', 'country_name', 'named_countries', 'Project Name', 'project_desc', 'amount_standard','currency_standard', 'closing_month', 'closing_day', 'closing_year', 'loan_length in year' ]

In [63]:
big_table_small = big_table[columns_list]

In [64]:
big_table_small.to_pickle("agreement_features.pickle")